#navbar{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}


#purchased_vouchers{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 2%;
    margin-top: 3%;
}


.voucher{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    padding: 10px;
}